.tiktok-loader {
  height: 58px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  //loader
  .loader {
    width: 22px;
    height: 22px;
    position: relative;
    z-index: 1;
    transform: translateX(-50%);
  }

  .loader::before,
  .loader::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: rotate92523 1.5s infinite cubic-bezier(0.77, 0, 0.175, 1);
  }

  .loader::before {
    background-color: #68deff;
  }

  .loader::after {
    background-color: #ff6980;
    animation-delay: 0.75s;
  }

  @keyframes rotate92523 {
    0%,
    100% {
      left: 65%;
    }

    25% {
      transform: scale(0.5);
    }

    50% {
      left: 0%;
    }

    75% {
      transform: scale(1);
    }
  }
}
